.rs-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  width: 100%;
  height: 120px;
  border-radius: 12px;
  background-color: #0e0e0e;
  color: white;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 0px;
  cursor: pointer;
  transition: 0.2s;
  img {
    height: 50px;
    transition: 0.2s;
  }
}

.rs-widget-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  text-decoration: none;
  color: white;
}

.rs-widget:hover {
  outline: 2px solid #FF0000;
  outline-offset: 4px;
}

.rs-widget:hover img {
  transform: scale(1.05);
}